@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
  arial, sans-serif;
}
*, *::before, *::after {
  box-sizing: inherit;
}

.nav li{
  display: inline-block;
}

.selected {
  color: grey;
}

.unselected {
  color: silver;
}

.filterbox {
  background-color: #EFEFEF;
  padding: 1em 0 0 1em;
}

.cardholder {
  padding: 0 1em 1em 0;
}

.filtercard {
  border: 1px silver solid;
  background-color: #fff;
  color: gray;
}

.date {
  line-height: 1em;
  font-size: 2em;
}

.title, .month {
  line-height: 1em;
}

.location {
  font-size: 12px;
}

.photo {
  width: 100%;
}

.filter {
  color: grey;
}

.filter li {
  width: 20%;
}

i {
  color: grey;
  width: 1em;
}

li a {
  padding: 1em;
  list-style-type: none;
  text-decoration: none;
}

.styled-checkbox:hover {
  color: var(--color-primary);
  border-top: 3px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.select-arrow {
  display: block;
  width: 50%;
}


h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 100%;
    display: block;
    position: relative;
}

.tabs .tab {
    float: left;
    display: block;
}

.filter-radio {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 2px 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #ccc;
    background: transparent;
}

#tab-art:checked ~ .nav [for="tab-art"] {
    top: 0;
    background-color: transparent;
    color: #46268E;
    border-bottom: 2px solid #46268E;
}

#tab-social:checked ~ .nav [for="tab-social"] {
    top: 0;
    background-color: transparent;
    color: #52B252;
    border-bottom: 2px solid #52B252;
}

.filterbox-social,
.filterbox-art {
  display: none;
}

#tab-art:checked ~ .filterbox-art {
  display: block;
}

#tab-social:checked ~ .filterbox-social {
  display: block;
}
