html {
  font-family: 'Roboto', sans-serif;
}

.recommended {
  background-color: #EBEBEB;
  padding: 1em 0 0 1em;
}

.events-list {
  padding: 1em;
}

.nav {
  border-bottom: solid 1px #EBEBEB;
}

.nav li {
  display: inline-block;
}

.cardholder {
  padding: 0 1em 1em 0;
}

.filtercard {
  border: solid 2px #EBEBEB;
  background-color: #fff;
  color: #000;
}

.date {
  line-height: 1em;
  font-size: 2em;
}

.title, .month {
  line-height: 1em;
}

.location {
  font-size: 12px;
}

.photo {
  width: 100%;
}

.filter {
  color: grey;
}

.filter li {
  width: 20%;
}

li a {
  padding: 1em;
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #000;
}


.select-arrow {
  display: block;
  width: 50%;
}


h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 100%;
    display: block;
    position: relative;
}

.tabs .tab {
    float: left;
    display: block;
}

.filter-radio {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs .tab>label {
    display: block;
    padding: 2px 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #ccc;
    background: transparent;
}

#tab-art:checked ~ .nav [for="tab-art"] {
    top: 0;
    background-color: transparent;
    color: #46268E;
    border-bottom: 2px solid #46268E;
}

#tab-social:checked ~ .nav [for="tab-social"] {
    top: 0;
    background-color: transparent;
    color: #52B252;
    border-bottom: 2px solid #52B252;
}

.filterbox-social,
.filterbox-art {
  display: none;
}

#tab-art:checked ~ .filterbox-art {
  display: block;
}

#tab-social:checked ~ .filterbox-social {
  display: block;
}

.event-main-info {
  background-color: grey;
}

.bookmark {
  width: 100%;
  color: grey;
  background-color: #e4e4e4;
  border: solid 1px black;
  padding: 1.5em;
  text-align: center;
  display: block;
}

.card-link {
  text-decoration: none;
}
