html {
  font-family: 'Roboto', sans-serif;
}

.recommended {
  background-color: #EFEFEF;
  padding: 1em 0 0 1em;
}

.events-list {
  padding: 1em;
}

.nav li {
  display: inline-block;
}

.cardholder {
  padding: 0 1em 1em 0;
}

.filtercard {
  border: 1px silver solid;
  background-color: #fff;
  color: gray;
}

.date {
  line-height: 1em;
  font-size: 2em;
}

.title, .month {
  line-height: 1em;
}

.location {
  font-size: 12px;
}

.photo {
  width: 100%;
}

.filter {
  color: grey;
}

.filter li {
  width: 20%;
}

i {
  color: grey;
  width: 1em;
}

li a {
  padding: 1em;
  list-style-type: none;
  text-decoration: none;
}

.styled-checkbox:hover {
  color: var(--color-primary);
  border-top: 3px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.select-arrow {
  display: block;
  width: 50%;
}

.select-form {
  border-bottom: 2px solid var(--color-grey-light);
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
}

.select-form-full {
  border: 2px solid var(--color-grey-light);
}

.select-form-side {
  border-bottom: 2px solid var(--color-grey-light);
  border-top: 2px solid transparent;
  border-right: 2px solid var(--color-grey-light);
  border-left: 2px solid transparent;
}

.section-card {
  border: 4px solid var(--color-grey-light);
  background-color: var(--color-white);
}


* {
    margin: 0;
    padding: 0;
}

h1, h3{
  text-transform: uppercase;
  font-weight: normal;
}

.tabs{
    width: 100%;
    display: block;
    position: relative;
}

.tabs .tab{
    float: left;
    display: block;
}

.filter-radio {
    position: absolute;
    top: -9999px;
    left: -9999px;
}



.tabs .tab>label {
    display: block;
    padding: 6px 30px;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    color: #52B252;
    background: #EFEFEF;
}

.tabs .content {
    z-index: 0;/* or display: none; */
    overflow: hidden;
    width: 100%;
    padding: 25px;
    position: absolute;
    top: 40px;
    left: 0;
    background: #303030;
    color: #DFDFDF;

    opacity:0;
    transition: opacity 400ms ease-out;
}

#tab-art:checked ~ .nav [for="tab-art"], #tab-social:checked ~ .nav [for="tab-social"] {
    top: 0;
    background-color: transparent;
    color: #000;
    border-bottom: 2px solid #000;
}


.filterbox-social,
.filterbox-art {
  display: none;
}

#tab-art:checked ~ .filterbox-art {
  display: block;
}

#tab-social:checked ~ .filterbox-social {
  display: block;
}
