---
layout: default
---

{% include nav.html %}
{% include recommend-art.html %}
{% include recommend-social.html %}

<nav id="nav" role="navigation">
  <div class="nav white island filter">
    <ol class="wrapper mega list-group push-0 text-center">
      <li>Live Music</li>
      <li>Film</li>
      <li>Theatre</li>
      <li>Exhibition</li>
    </ol>
  </div>
</nav>

<section class="events-list filterbox filterbox-art">
  <div class="grid">
    {% for event in site.art %}
    <div class="unit xs-1 s-1-2 m-1-2 l-1-3 cardholder">
      {% include event-card.html data=event %}
    </div>
    {% endfor %}
  </div>
</section>

<section class="events-list filterbox filterbox-social">
  <div class="grid">
    {% for event in site.social %}
    <div class="unit xs-1 s-1-2 m-1-2 l-1-3 cardholder">
      {% include event-card.html data=event %}
    </div>
    {% endfor %}
  </div>
</section>
