---
layout: default
---


<div class="grid white island">
  <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
    <nav id="nav" role="navigation">
      <div class="nav">
        <ol class="yotta list-group push-0">
          <li class="selected push-r-1-2">Art</li>
          <li class="unselected push-r-1-2">Social</li>
        </ol>
      </div>
    </nav>
  </div>
</div>


<div class="grid filterbox filterbox-art">
  {% for event in site.events %}
  {% if event.category contains "art" %}
  <div class="unit xs-1 s-1-2 m-1-4 l-1-4 cardholder">
    {% include event-card.html data=event %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="grid filterbox filterbox-social">
  {% for event in site.events %}
  {% if event.category contains "social" %}
  <div class="unit xs-1 s-1-2 m-1-4 l-1-4 cardholder">
    {% include event-card.html data=event %}
  </div>
  {% endif %}
  {% endfor %}
</div>

<nav id="nav" role="navigation">
  <div class="nav white island filter">
    <ol class="wrapper mega list-group push-0 text-center">
      <li>Live Music</li>
      <li>Film</li>
      <li>Theatre</li>
      <li>Exhibition</li>
    </ol>
  </div>
</nav>
