---
layout: default
---

<div class="grid grid-middle nav">
    <div class="gutter-1-2 unit xs-1 s-1-2 m-3-4 l-3-4">
      <nav role="navigation" id="nav">
        <h2 class="push-0 pad-t-1-2 pad-b-1-2">{{page.title}}</h2>
      </nav>
    </div>
</div>

<div class="pad-t-2 pad-b event-main-info gutter-1-2">
  <div class="grid">
    <div class="event-image island-1-4 unit xs-1 s-1 m-1 l-1-2">
      <img class="img-flex" src="{{site.basurl}}/images/{{page.img}}" alt="">
    </div>
    <div class="event-info island-1-4 unit unit-content-distribute xs-1 s-1 m-1 l-1-2">
      <h3>{{page.month}} {{page.day}}</h3>
      <h4>{{page.location}} • {{page.time}}</h4>
      <p>{{page.description}}</p>
      <a href="{{site.baseurl}}/profile/" class="bookmark">
        <span>{{page.bookmark}}</span>
      </a>
    </div>
  </div>
</div>
